html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

.bets {

  form {
    margin-top: 5px;
    color: white;
    width: 220px;
  }

  table {
    padding-top: 20px;
  }

  p {
    color: white;
  }

  h2 {
    color: white;
  }

  th {
    color: white;
    font-size: 9px;
  }
  input {
    border: none;
    border-bottom: 1px solid white;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 18px;
    width: 200px;

    &:focus {
      color: rgb(233,182,50);
      border-bottom: 1px solid rgb(163,129,40);
    }
  }

  label {
    display: block;
    font-size: 12px;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
  }

  #direction-bull-button {
    background-color: white;
    color: darkred;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;
    width: 80px;

    &:hover {
      background-color: rgb(163,129,40);
      border: none;
      color: white;
      cursor: pointer;
    }
  }

  #direction-bear-button  {
    background-color: white;
    color: rgb(15, 60, 77);
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;
    width: 80px;

    &:hover {
      background-color: rgb(163,129,40);
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}