html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

.leaders {
  background: rgba(0,0,0,0.6);
  height: 93%;
  left: 0;
  position: fixed;
  top: 55px;
  width: 230px;

  .eachLeader {
    padding-bottom: 10px;
  }
  
  .leaderTitle {
    border-bottom: 1px solid white;
    color: rgb(233,182,50);
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px;
    width: 210px;
  }

  #profile-anchor {
    left: 210px;
    position: absolute;
    top: 70px;
    transform: rotate(310deg);
  }

  #leader-anchor {
    left: 210px;
    position: absolute;
    top: 224px;
    transform: rotate(310deg);
  }

  li {
  color: white;
  font-size: 15px;
  padding: 10px 0;
  
    #leaderRep {
      visibility: hidden;
    }
		
    :hover {
      color: lightseagreen;
      background-color: white;
      font-size: 20px;
      padding: 10px;

      #leaderRep {
        color: #14716c;
        font-size: 12px;
        visibility: visible;
      }
    }
  }
}