<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://use.fontawesome.com/b828bf247e.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
  <script src="/scripts/toggle-login.js"></script>
  <title>W.S. Marina</title>
</head>

<body>
  <div id="container">
    <video autoplay loop muted>
      <source src="/videos/login-background-fade.mp4" type="video/mp4">
    </video>

    <div class="main">
      <section class="form signin">
        <form action="/login" method="post">
          <button disabled><i class="fa fa-ship" aria-hidden="true"></i></button>
          <% include partials/_errors %>
          <br><br>

          <input id="login-email" name="email" placeholder="Email">
          <br><br>

          <input id="login-password" name="password" type="password" placeholder="Password">
          <br><br>

          <button>Submit</button><button class="switch-to-signup">Sign Up</button>
        </form>
      </section>

      <section class="form signup display-none">
        <form action="/register" method="post">
          <button disabled><i class="fa fa-ship" aria-hidden="true"></i></button>
          <% include partials/_errors %>
          <input id="register-username" name="username" placeholder="Username">
          <br><br>

          <input id="register-email" name="email" placeholder="Email">
          <br><br>

          <input id="register-password" name="password" type="password" placeholder="Password">
          <br><br>

          <input id="register-password_confirmation" name="password_confirmation" type="password" placeholder="Confirm Password">
          <br><br>

          <input id="register-date_of_birth" name="date_of_birth" type="date">
          <br><br>

          <button>Submit</button><button class="switch-to-signin">Sign In</button>
        </form>
      </section>
    </div>
  </div>
</body>

</html>
